# Ignore all
*
  
# except
!.gitignore
!*.m
!*.c
!*.tex

!+PDE
!+acq      
!+asymp
!+dico
!+ops
!+shape
!+tools    
!+tracking
!+wavelet  
!examples


# *.mexglx
# *.mexa64
# *.todo
# *.bak
# *.old
# *.mat
# *.m~
# output
# tmp
# thirdparty
# html
# *.pdf
