# # Ignore all
# *
  
# # except
# !.gitignore
# !*.m
# !*.c
# !*.tex

# !+PDE/
# !+acq/   
# !+asymp/
# !+asymp/
# !+dico/
# !+ops/
# !+shape/
# !+tools/
# !+tracking/
# !+wavelet/  
# !examples/


*.mexglx
*.mexa64
*.todo
*.bak
*.old
*.mat
*.m~
*.aux
*.log
*.pdf
output
tmp
thirdparty
html
